@keyframes slideOverlay {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

.slideOverlay {
  animation: slideOverlay 0.8s ease-out forwards;
}

.slideLayer {
  position: absolute;
  inset: 0;

  display: flex;
  align-items: center;
  animation: slideLayer 0.8s ease-out forwards;
}


@keyframes slideLayer {
  from {
    transform: translateX(-100px);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}