/* .contactfield{
  :global(.flag-dropdown){
    border-radius:5px 0px 0px 5px;
  }

  :global(.selected-flag){
    border-radius:5px 0px 0px 5px;
  }
  :global(.react-tel-input:hover .flag-dropdown) {
    border-radius: 5px 0 0 5px !important;
  }
} */
 .contactfield {
  :global(:is(.react-tel-input .flag-dropdown:hover, .react-tel-input .flag-dropdown.open) .selected-flag:hover),
  :global(:is(.react-tel-input .flag-dropdown:hover, .react-tel-input .flag-dropdown.open) .selected-flag:focus) {
    border-radius: 5px 0 0 5px !important;
  }
}
