@keyframes slideDown {
  0% {
    transform: translateY(-100%) scale(1.2);
    opacity: 0;
  }
  100% {
    transform: translateY(0) scale(1);
    opacity: 1;
  }
}

.slideDown {
  animation: slideDown 2s ease-out forwards;
}

@keyframes slideup {
  0% {
    transform: translateY(150%) scale(1.2);
    opacity: 0;
  }
  100% {
    transform: translateY(0) scale(1);
  }
}

.slideup {
  animation: slideup 2s ease-out forwards;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
    opacity: 0;
  }
  100% {
    transform: translateX(-50%);
    opacity: 1;
  }
}

.animationScroll {
  animation: scroll 5s linear infinite;
}

@keyframes slideRight {
  0% {
    transform: translateX(200%);
    opacity: 0;
  }
  100% {
    transform: translateX(0%);
    opacity: 1;
  }
}

.slideright {
  animation: slideRight 2s ease-out forwards;
}

@keyframes slideLeft {
  0% {
    transform: translateX(-200%);
    opacity: 0;
  }
  100% {
    transform: translateX(0%);
    opacity: 1;
  }
}

.slideleft {
  animation: slideLeft 2s ease-out backwards;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.slideteam {
  transition: all 0.3s ease;
}
.slideteam:hover {
  top: 70%;
}

.marqueeWrapper {
  overflow: hidden;
  width: 100%;
}

.marqueeTrack {
  display: flex;
  width: max-content;
  animation: marquee 7s linear infinite;
}

.marqueeTrack:hover {
  animation-play-state: paused;
}

@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-33.333%);
  }
}
