@keyframes slideDown {
  0% {
    transform: translateY(-100%) scale(1.2);
    opacity: 0;
  }
  100% {
    transform: translateY(0) scale(1);
    opacity: 1;
  }
}

.slideDown {
  animation: slideDown 2s ease-out forwards;
}

@keyframes slideup {
  0% {
    transform: translateY(150%) scale(1.2);
    opacity: 0;
  }
  100% {
    transform: translateY(0) scale(1);
  }
}

.slideup {
  animation: slideup 2s ease-out forwards;
}
