@keyframes slideDown {
  0% {
    transform: translateY(-100%) scale(1.2);
    opacity: 0;
  }
  100% {
    transform: translateY(0) scale(1);
    opacity: 1;
  }
}

.slideDown {
  animation: slideDown 2s ease-out forwards;
}

@keyframes slideup {
  0% {
    transform: translateY(150%) scale(1.2);
    opacity: 0;
  }
  100% {
    transform: translateY(0) scale(1);
  }
}

.slideup {
  animation: slideup 2s ease-out forwards;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animationScroll {
  animation: scroll 5s linear infinite;
}

@keyframes slideRight {
  0% {
    transform: translateX(200%);
  }
  100% {
    transform: translateX(0%);
  }
}

.slideright {
  animation: slideRight 2s ease-out forwards;
}
