@keyframes HeroleftSlides {
  0%{
    transform: translateX(-90%) scale(1.2) ;
    opacity: 0;
  }
  100%{
    transform: translateX(0) scale(1) ;
    opacity: 1;
    
  }
}
.heroleftSlidediv{
  animation: HeroleftSlides;
  animation-duration: 2s;
  transition: ease-in-out;
  background: linear-gradient(246.33deg, rgba(102, 102, 102, 0) -9.45%, rgba(0, 0, 0, 0.72) 67.09%);
}
